*.iws
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.grunt
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea_modules/
.lock-wscript
.node_repl_history
.npm
.nyc_output
.yarn-integrity
/build/*
/coverage
/out/
atlassian-ide-plugin.xml
bower_components
build/Release
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log*
pids
typings/
yarn-debug.log*
yarn-error.log*
.idea